@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
	color: #fff;
	font-family: "Bebas Neue";
	margin: 0;
}

.wrapper {
	width: 100%;
	height: 120px;
	background-color: #070206;
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;
	background-image: url(images/bg.png);
	background-size: 500px;
	background-repeat: repeat-x;
}
.image-lettertype {
	height: 120px;
}
.wrapper ul {
	padding-right: 40px;
}
.wrapper li {
	display: inline;
	padding-right: 20px;
	font-size: 25px;
}
a {
	border-radius: 5px;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
}
a.pink {
	background-color: #ef018d;
	border: 5px solid #ef018d;
}
.me {
	position: relative;
	width: 100%;
	background-color: blue;
	height: 1000px;
}
.me img {
}
